.text-decorator-none{
    text-decoration: none;
}
.postagens{
    background-image: url(/src/assets/img/background.jpg);
}
.post{
        background-color: #e0e0e0c0 !important;
        color: #000000!important;
        border-radius: 30px!important; 
}