.back{
    background: #aa0854;
    background: linear-gradient(90deg, #aa0854 0%, #350452 55%, #090979 100%)!important;
}
.bar{
    display:flex;
    justify-content:center;
}
.title{
    font-weight: bold!important;
    margin-right: 50px!important;
}
.text-decoration-none{
    text-decoration: none;
}
.cursor{
    cursor:pointer;
    color:#ffffff;
}