.text-decoration-none{
    text-decoration: none;
}
.textos{
    font-weight: bold;
    color: #000000;
}
.imagem{
    background-image: url(../../assets/img/login.jpg);
    background-repeat: 'no-repeat';
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.login{
    background: #aa0854;
    background: linear-gradient(90deg, #aa0854 0%, #350452 55%, #090979 100%);
    justify-content:center;
    border-radius: 30px;
    padding: 20px 50px 20px 50px !important;
    margin: 50px;
    font-weight: bold !important;
    color: #ffffff !important;
}
.login-background{
    background-color: #ffffff;
}
