.box1{
    background: #aa0854;
    background: linear-gradient(90deg, #aa0854 0%, #350452 55%, #090979 100%);
    height: 120px;
}
.box2{
    background-color: #ffffff;
    height: 60px;
}
.redes{
    font-size: 60px!important;
    color: #ffffff;
}
.textos1{
    color: #ffffff;
}