.box1{
    background-color: #da689d;
    height: 120px;
}
.box2{
    background-color: #bd5b89;
    height: 60px;
}
.redes{
    font-size: 60px!important;
    color: #ffffff;
}
.textos1{
    color: #ffffff;
}