.h1{
    background: #aa0854;
    background: linear-gradient(90deg, #aa08549f 0%, #3504529f 55%, #0909799f 100%);
    justify-content:center;
    border-radius: 30px;
    padding: 20px 20px 20px 20px;
    margin: 50px;
    }
img{
    border-radius: 30px;
    margin: 30px;
    width: 600px;
    padding: 20px 20px 20px 20px;
    justify-content: center;
}
.caixa{
    background-image: url(../../assets/img/background.jpg);
    background-repeat: no-repeat;

    min-height: calc(150vh - 138px);

    background-size: cover !important;
    background-position: center;
}
.titulo{
    color:#ffffff!important;
    font-weight: bold!important;
}
.botao{
    border-color: #ffffff!important;
    background-color: #aa0854!important;
    color: #ffffff!important;
}
.postagens{
    background-color: #ffffff!important;
}

.text-decorator-none{
    text-decoration: none;
}
.typo1{
    color: #ffffff !important;
}
.typo2{
    color:#fffb00!important;
    font-weight: bold!important;
}