.titulo{
    color: #891394;
    text-align: center;
}
.img{
    width: 500px;
    height: 500px;
    display: block;
    margin: 0 auto;
}
.back2{
    background-image: url(../../assets/img/fundo2.png);
    background-repeat: no-repeat;
    width:100vh;

    min-height: calc(100vh - 64px);

    background-size: cover;
    background-position: center;
}
.h1{
    background-color: #da689dc7 !important;
    justify-content:center;
    border-radius: 30px;
    padding: 20px 20px 20px 20px;
    margin: 50px;
    }
img{
    border-radius: 30px;
    margin: 30px;
}